/* Estilos do layout do jogo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
    color: #006064;
}

#jogo {
    text-align: center;
}

#forca {
    font-size: 2rem;
    margin-bottom: 20px;
}

#dica {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.tecla {
    padding: 10px;
    margin: 5px;
    border: 1px solid #006064;
    background-color: #e0f7fa;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

.tecla.acertou {
    background-color: green;
    color: white;
}

.tecla.errou {
    background-color: red;
    color: white;
}

/* Estilos do vídeo em tela cheia com proporção 9:16 */
#videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;  /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#video {
    width: 56.25vh; /* Proporção 9:16 */
    height: 100vh;
    object-fit: cover;
}

.hidden {
    display: none;
}
